<!DOCTYPE html>
<html lang="pt-br">

<%- include('./includes/heade')%> <!--Importando heade e criando includes-->

<body>
    <%- include('./includes/menu.ejs') %>
    <section>
        <h1>
            <%  if(typeof titulo !== 'undefined') { %> <!-- IF no EJS -->

                <%= titulo %>

            <% } else {%>
                    <h1>Página não contém titúlo</h1>
            <% } %>

            <%= titulo  %> <!-- Não escapa os caracteres -->
            <%- titulo %> <!-- escapa os caracteres-->

            <!-- for com EJS-->

            <h2>
                <% numeros.forEach(num => { %>
                    <%= num %> <br>
                <% }); %>
            </h2>

        </h1>
    </section>

    <%-  include('./includes/footer') %>
    <!-- Chamando o arquivo bundle, que foi traduzido do arquivo js original, utilizando webpack e babel-->
    
</body>
</html>