<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/heade.ejs') %>
</head>
<body>
    <%- include('./includes/menu.ejs') %>
    <h2>
        <%= titulo %>
    </h2>

    <p><%- umaVariavelLocal %></p>
    <%-  include('./includes/footer.ejs') %>
</body>
</html>